// Variables
$bolder-font: 600;
$header-color: #7433f1;
$favourites-background: #f3ecfe;
$primary-font-color: #000000;
$secondary-font-color: #ffffff;

* {
  margin: 0;
  padding: 0;
}

html {
  /* make default rem equal to 10 */
  font-size: 62.5%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
}

input, button {
  font-size: 1.3rem;
}

#app {
  height: 100vh;
}

@media only screen and (max-width: 900px) {
  html {
    font-size: 50%;
  }
}

@import './_titleBar';
@import './_mainContent';
@import './_search';
@import './_favourites';
@import './_searchBar';
@import './_searchResults';
@import './_result';
