.search-results {
  width: 100%;
  margin: 1rem;
  table-layout: fixed;
}

.search-results__header th {
  text-align: inherit;
  padding: 0.5rem;
}

.search-results--empty td{
  text-align: center;
  font-style: italic;
  padding: 5rem;
  color: lighten($primary-font-color, 30%);
}
