.search-bar {
}

.search-bar__form {
  display: flex;
  flex-direction: row;
}

.search-bar__input {
  border: solid #000000 0.1rem;
  border-radius: 0.3rem;
  flex-grow: 3;
  margin: 1rem;
  padding: 0.5rem;
}

.search-bar__button {
  background-color: $header-color;
  border: none;
  border-radius: 0.5rem;
  color: $secondary-font-color;
  font-weight: $bolder-font;
  flex-grow: 1;
  margin: 1rem;
  padding: 1rem;
}

.search-bar__button:disabled {
  background-color: #aaaaaa;
}
